.card {
  border: 1px solid #d7dae6;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.question {
  display: flex;
  justify-content: space-between;
  color: #52606d;
  font-weight: 600;
}

hr {
  border: 1px solid #e4e7eb;
}
.answer {
  color: #9aa5b1;
}
